<div class="row">
  <div class="col-md-12 nav-container">
    <span class="nav-item float-start">ChrWalte UrlShortener</span>
    <span class="nav-item float-end">
      <a href="https://github.com/chrwalte" target="_blank">GitHub</a>
    </span>
    <span class="nav-item float-end">
      <a href="https://www.linkedin.com/in/chrwalte/" target="_blank"
        >LinkedIn</a
      >
    </span>
  </div>
</div>

<!-- <fa-icon class="footer-icon" [icon]="faLinkedinIn"></fa-icon> -->
<!-- <fa-icon class="footer-icon" [icon]="faGithub"></fa-icon> -->
